In [2]:
d = lambda i:i*2
print(d(10))

20

In [34]:
d= lambda m: 3 in m
g=[1,2,3,4,5]
print(d(g))

#s=lambda m:for i in m   ----  invalid



s = lambda m:[i for i in m]
print(s(g))

sum_no = lambda a,b,c,d:a+b+c+d
print(sum_no(9,8,7,6))

True
[1, 2, 3, 4, 5]
30

d =({"cityname":"delhi","population":"50lakh"},{"cityname":"agra","population":"20lakh"},{"cityname":"aligarh","population":"10lakh"})

for i in d:
    m=tuple(i.values())
    print(m[0])
    
    
print(end="\n\n")

s=[tuple(i.values())[0] for i in d]
print(s)

print(end="\n\n")


fun = lambda z:[tuple(i.values())[0] for i in z]

print(fun(d))

In [4]:
#map()  --  applied on each element of a sequence

m=['a','e','i','o','u']
out = list(map(lambda z:ord(z),m))
print(out)


out = list(map(lambda z:chr(ord(z)+32) ,"HUMAN"))
print(out)

[97, 101, 105, 111, 117]
['h', 'u', 'm', 'a', 'n']
['H', 'U', 'M', 'A', 'N']

In [3]:
#map on dictionary
d =({"cityname":"delhi","population":"50lakh"},{"cityname":"agra","population":"20lakh"},{"cityname":"aligarh","population":"10lakh"})

city_value=list(map(lambda z:tuple(z.values())[0] ,d))
print(city_value)

['delhi', 'agra', 'aligarh']

In [11]:
#filter () -- filter the condition in lambda function

print(list(filter(lambda z:print(z) , [8,9])))

8
9
[]

In [12]:
print(list(filter(lambda z:z%2==0, [8,9,10,11,12,13,14,15])))

[8, 10, 12, 14]

In [2]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
s=range(10)

z=[I for I in s if I in a]
print(z)



print(list(filter(lambda z:z in s, a)))



out = list(filter(lambda z:chr(ord(z)-32) ,"human"))
print(out)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['h', 'u', 'm', 'a', 'n']

In [6]:
#reduce() - works like fibbonicc series --  taking 2 values , subsequently resultant with will operated using third value 
# and so on
from functools import reduce

L =  [1,2,3,4,5,6,7,8,9,10]
print(reduce(lambda z,x:z+x ,L))

L = [78,900,56,45]


#largest value from a list using reduce()
print(reduce(lambda z,x:z if z > x else x,L))

55
900

In [51]:
#
#Order Number	Book Title and Author	Quantity	Price per Item
#34587	Learning Python, Mark Lutz	4	40.95
#98762	Programming Python, Mark Lutz	5	56.80
#77226	Head First Python, Paul Barry	3	32.95
#88112	Einführung in Python3, Bernd Klein	3	24.99

d=({'order_number':'34587','booktitl_and_author':'learning_python Mark_lutz','quantity':4,'price_per_item':40.95},
{'order_number':'98762','booktitl_and_author':'programming_python Mark_lutz','quantity':5,'price_per_item':56.80},
{'order_number':'77226','booktitl_and_author':'headfirst_python Paul_barry','quantity':3,'price_per_item':32.95},
{'order_number':'88112','booktitl_and_author':'Einführung in_python3 Bernd_Klein','quantity':3,'price_per_item':24.99})

for i in d:
    m=tuple(i.values())
    
    order=m[0]
    product = m[2]*m[3]
    
    if product<10000:
        product=product+10
        
    print(order+"  ,  "+str(product))
    
   
    
output=tuple(map(lambda z:tuple(z.values())[0] ,d))
product_output=tuple(map(lambda p:tuple(p.values())[2]*tuple(p.values())[3],d))

print(output)
print(product_output)

34587  ,  173.8
98762  ,  294.0
77226  ,  108.85000000000001
88112  ,  84.97
('34587', '98762', '77226', '88112')
(163.8, 284.0, 98.85000000000001, 74.97)